body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--grey-color);
}
.list,
.list-about-us,
.activities-list,
.our-team-list,
.contacts-footeer-list,
.works-list,
.project-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.link {
  text-decoration: none;
}